* {
    box-sizing: border-box; 
    /*considera el tama;o de la caja desde el borde*/
}

.container {
    background-color: rgb(122, 120, 120);
    height: 400px;
    width: 100%;
    display: flex;
    /*flex-direction: row-reverse;
    flex-wrap: wrap;*/
    flex-flow: column nowrap;
    /*|direction|wrap|*/
    justify-content: flex-start; /*Alineacion del eje principal*/
    /*Alineacion del eje secundario*/
    align-items: stretch; /*Funciona para alinear a los hijos en el eje transversal*/
    align-content: flex-start; /*No funciona cuando los hijos estan en una sola linea*/
    /*el valor de wrap o wrap-reverse activan el align-content*/
    /*Para estirar los elementos, no deben tener valor de alto o ancho*/
}

.items {
    /* width: 100px; */
    /* height: 20%; */
    border: medium solid rgb(182, 179, 179);
    background-color: #999;
    flex-grow: 0; /*Cuando la caja flexbox tenga espacio sobrate
    los hijos podran aprovecharlo porque es el factor de crecimiento
    No acepta valores negativos*/
    flex-shrink: 1; /*Cuando la caja flexbox no tenga espacio sobrante
    es la habilidad o factor de encogerse
    no se aceptan negativos*/
    flex-basis: 100px; /*Es el tamaño del elemento hijo detro de la linea principal de la caja
    depende del flex-direction*/
    flex: 1 1 auto; /*|grow|shrink|basis|*/
}
.items:nth-child(2) {
    /* flex-grow: 2; */
}
.items:nth-child(3) {
    /* flex-grow: 3; */
}