* {
    box-sizing: border-box; 
    /*considera el tama;o de la caja desde el borde*/
}

.container {
    background-color: rgb(122, 120, 120);
    height: 30vh;

    display: flex;
    /*flex-direction: row-reverse;
    flex-wrap: wrap;*/
    flex-flow: column-reverse wrap;
}

.items {
    width: 20%;
    border: medium solid #999
}